@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";


*{
   font-family: "Outfit", sans-serif;
}

::-webfit-scrollbar{
  display: none;
}
@keyframes slideInTopLeft {
  0% {
    opacity: 0;
    transform: translate(-50px, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animate-slide-in-top-left {
  animation: slideInTopLeft 1s ease-out forwards;
}



